/* details-news */


.post-other .item .news-thumbnail {
    display: block;
    margin-bottom: 15px;
    padding: 0px;
    height: 200px;
    background: url(img/post-news.jpg) no-repeat center center;
    background-size: cover;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.post-other .item .title {
    font-weight: 400;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    height: 50px;
}
.post-other .item .title a {
    color: #528e39;
}
.post-other .item .date-time {
    font-style: italic;
    color: #999999;
    line-height: 20px;
    background: url(../img/ico-clock.svg) no-repeat left center;
    margin: 0 0 5px;
    padding-left: 20px;
}
.post-other .item .description {
    height: 68px;
    margin-bottom: 20px;
}
.post-other .item .description a {
    color: #2d2d2d;
    overflow: hidden;
    display: block;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    height: 68px;
}
.post-detail .post-title {
    font-size: 20px;
    color: #82bc41;
    font-weight: 500;
    margin-bottom: 10px;
    padding-bottom: 0px !important;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;
}
.post-detail .date-time {
    font-style: italic;
    color: #78787a;
    line-height: 20px;
    background: url(../img/ico-clock.svg) no-repeat left center;
    margin: 0 0 5px;
    padding-left: 20px;
}
.post-detail .description {
    position: relative;
}
.post-detail .description div {
    margin-bottom: 15px;
    max-width: 100%;
}
.post-detail .description b, .post-detail .description strong {
    font-weight: 500;
}
.box-category-wrapper {
    position: absolute;
    top: -110px;
    right: 15px;
    z-index: 10;
}
.box-categorysub {
    text-align: center;
    margin: 20px 0 30px 0;
}
.box-categorysub ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: table;
    width: 100%;
}
.box-categorysub.box-category-fixed ul li {
    padding-right: 0px;
}

.box-categorysub ul li:hover, .box-categorysub ul li.active {
    background: transparent;
}
.box-categorysub ul li {
    display: inline-block;
    padding: 0 5px;
    background: transparent;
}

.box-categorysub.box-category-fixed ul li:hover a, .box-categorysub.box-category-fixed ul li.active a {
    background-color: transparent;
}
.box-categorysub.box-category-fixed ul li a {
    color: #fff;
    padding-right: 0px;
    border-color: transparent;
    text-transform: uppercase;
}
.box-categorysub ul li a {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #77777a;
    padding: 0 15px;
    line-height: 36px;
    background-color: transparent;
    margin-right: 0px;
    margin-bottom: 15px;
    border: solid 1px #d3d3d3;
    text-align: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.box-categorysub.box-category-fixed ul li a:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 15px;
    background: rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0);
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0);
    border-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.box-categorysub.box-category-fixed ul li:hover a:before, .box-categorysub.box-category-fixed ul li.active a:before {
    background: #e9db7a;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.12);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.12);
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.12);
}
.box-categorysub.box-category-fixed ul li:hover a:after, .box-categorysub.box-category-fixed ul li.active a:after {
    background: rgba(255,255,255,0.15);
}
.box-categorysub.box-category-fixed ul li a:after {
    content: '';
    position: absolute;
    left: 18px;
    top: 27px;
    width: 1px;
    height: 32px;
    background: rgba(255,255,255,0);
    display: inline-block;
}
.bt-more-detail {
    color: #2d2d2d;
    display: inline-block;
    margin-bottom: 20px;
    background: url('../img/bt-more-detail.svg') no-repeat right 15px center;
    padding: 4px 55px 5px 20px;
    border: 1px solid #ebebeb;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.bt-more-detail:hover {
    color: #82bc41;
    background-image: url('../img/bt-more-detail-h.svg');
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1);
}