/* Blocks */
@import url("reset.css");  /* Reset */
@import url("fonts.css");  /* Fonts */








/* Header */
#header .logo {
	background: url(../img/opalgarden_logo.svg) no-repeat; 
    display: block;
    width: 133px;
    height: 74px;
    background-size: 133px;
}
#header .logo-wrapper {
    padding-top: 7px;
}

#header .navbar-default, #header .navbar-default .navbar-nav>.active>a {
    background-color: transparent;
    border-color: transparent;
}
#header .navbar-default {
    margin-bottom: 0;
    background: #fff;
    transition: all .25s ease-in-out;
    -webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.2);
}
#header ul.navbar-nav li {
    padding: 0 15px;
    margin-bottom: -1px;
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -ms-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}
#header ul.navbar-nav li a {
    font-size: 15px;
    font-weight: 400;
    color: #488a3f;
    display: inline-block;
    border-bottom: 3px solid transparent;
    padding: 0px;
    line-height: 45px;
    text-transform: uppercase;
    height: 50px;
}
#header ul.navbar-nav li a:hover {
    border-bottom-color: #82bc41;
    color: #82bc41;
}
#header ul.navbar-nav li.active a {
	border-bottom-color: #82bc41 !important;
    color: #82bc41;
}

/* Phone */
.right-header {
    padding-top: 13px;
}
.hotline-sticky:before {
    content: ' ';
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    background: #dfdfdf;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin-right: 10px;
}
.hotline-sticky .icon {
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-transform: uppercase;
    display: inline-block;
    color: #484848;
    margin-right: 10px;
}
.hotline-sticky strong {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    color: #f8830e;
}
.hotline-sticky strong:hover {
    color: #82bc41;
}



/* Page-body */
.page-body {
    position: relative;
    z-index: 40;
    padding-top: 86px;
}
.page-info {
    position: relative;
}
.page-info .page-content {
    padding:30px 0px;
    position: relative;
    background: url('../img/bg-page-info.png') no-repeat top left;
    background-size: 100px;
    min-height: 320px;
}
#page_body .page-child-banner {
    position: relative;
    padding-top: 87px;
}
#page_body .page-child-banner .content {
    position: relative;
    height: 80px;
}

/* body breadcrumbs */
.breadcrumbs {
    position: relative;
    list-style: none;
    margin: 0px;
    padding: 20px 0;
    line-height: 40px;
}
.breadcrumbs li {
    display: inline;
}
.breadcrumbs li span {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
}

.box-category-wrapper {
    position: absolute;
    top: -110px;
    right: 13px;
    z-index: 10;
}
.box-categorysub {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.box-categorysub ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: table;
    width: 100%;
}

.box-categorysub.box-category-fixed ul li {
    padding-right: 0px;
}

.box-categorysub ul li:hover, .box-categorysub ul li.active {
    background: transparent;
}
.box-categorysub ul li {
    display: inline-block;
    padding: 0 5px;
    background: transparent;
}

.box-categorysub.box-category-fixed ul li:hover a, .box-categorysub.box-category-fixed ul li.active a: {
    background-color: transparent;
}

.box-categorysub.box-category-fixed ul li a {
    color: #fff;
    padding-right: 0px;
    border-color: transparent;
    text-transform: uppercase;
}
.box-categorysub ul li:hover a, .box-categorysub ul li.active a {
    color: #fff;
}
.box-categorysub ul li a {
    position: relative;
    display: inline-block;
    font-weight: 400;
    color: #77777a;
    padding: 0 15px;
    line-height: 36px;
    background-color: transparent;
    margin-right: 0px;
    margin-bottom: 15px;
    border: solid 1px #d3d3d3;
    text-align: center;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
}
.box-categorysub.box-category-fixed ul li:hover a:before, .box-categorysub.box-category-fixed ul li.active a:before {
    background: #e9db7a;
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.12);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.12);
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.12);
}
.box-categorysub.box-category-fixed ul li a:before {
    content: '';
    position: relative;
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-right: 15px;
    background: rgba(255,255,255,0.5);
    -webkit-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0);
    -moz-box-shadow: 0px 0px 0px 4px rgba(255,255,255,0);
    box-shadow: 0px 0px 0px 4px rgba(255,255,255,0);
    border-webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.box-categorysub.box-category-fixed ul li:hover a:after, .box-categorysub.box-category-fixed ul li.active a:after {
    background: rgba(255,255,255,0.15);
}
.box-categorysub.box-category-fixed ul li a:after {
    content: '';
    position: absolute;
    left: 18px;
    top: 27px;
    width: 1px;
    height: 32px;
    background: rgba(255,255,255,0);
    display: inline-block;
}




/* Footer */
.footer-coppyright {
    position: relative;
    display: inline-block;
    border-top: 3px solid #82bc41;
    width: 100%;
    color: #484848;
    padding: 20px 0px;
}
.footer-coppyright .logo {
    background: url('../img/opalgarden_logo.svg') no-repeat left center;
    display: block;
    width: 125px;
    height: 65px;
    background-size: 125px;
}
.ls-social {
    position: relative;
    float: right;
    margin-bottom: 20px;
}
.ls-social li {
    float: left;
}
.ls-social .bt-facebook {
    width: 20px;
    background: url(../img/ico-facebook.svg) no-repeat center left;
}
.ls-social .bt-twitter {
    width: 22px;
    background: url(../img/ico-twitter.svg) no-repeat center left;
}
.ls-social a:hover {
    opacity: 1;
}

.ls-social .bt-youtube {
    width: 26px;
    background: url(../img/ico-youtube.svg) no-repeat center left;
}
.ls-social li a {
    display: inline-block;
    text-indent: -9999px;
    height: 20px;
    margin-left: 20px;
    opacity: 0.7;
}
.footer-coppyright .last .info {
    text-align: right;
}

/* Back to top */
#top {
    background: rgba(0, 0, 0, 0) url("../img/top.svg") no-repeat scroll center center;
    cursor: pointer;
    height: 36px;
    width: 36px;
    position: fixed;
    right: 20px;
    bottom: 60px;
    text-indent: -99999px;
    display: none;
    z-index: 10000;
    opacity: 0.7;
}
#top:hover {
    opacity: 1;
}

/* Sticky and Collapsed */
header.sticky a.logo {
    background-size: 95px !important;
    width: 101px !important;
    height: 51px !important;
}
header.sticky .right-header {
    padding-top: 0;
}
header.sticky ul.navbar-nav li a {
    line-height: 20px !important;
    height: 33px !important;
}
/* Click Open */
#header button.open {
    background-image: url(../img/icon-sandwich-mobile-h.svg);
}
#header button.open span.icon-bar {
    background: transparent !important;  
}